#root {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #FC9F96 0%, #E2AAE8 0.01%, #FB7EB0 17.19%, #FC9F96 33.85%, #FFBC88 50.52%, #FFC86A 67.71%, #FED88A 83.85%, #FDDA99 100%);
}

.auth-form-container, .login_form, .signup_form  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
}

button {
  width: 80%;
  border: none;
  background-color: white;
  padding: 2px;
  border-radius: 10px;
}

.link_btn {
  background: none;
  color: darkslateblue;
  text-decoration: underline;
}
